*{
    padding: 0;
    margin: 0;
    font-family: 'montserrat';
    box-sizing: border-box;
}
 :root{
    --primary-text-color:#dede2d;
    --secondary-text-color:#f4a004d1;
    --accent-color:#4aa3cf;
    --accent-color-dark:#1d69a3;
}
html,body{
    height: 100%;
    width: 100%;
    font-family:'montserrat';
    color: var(--primary-text-color);
}
main,body{
    position: relative;
    background-color:rgba(0, 0, 0, 0.78);
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover; 
    z-index: -1;
    position: fixed;
}

p{
    font-family: 'Roboto';
    color: var(--secondary-text-color);
    list-style: 1.4rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}
nav{
    /* padding: 6px; */
    background: #f3faff;
    box-shadow: 0 0 4px #bbd0c2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav{
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo{
    width: 60px;
}

.nav-links ul{
    font-size: 1.2rem;
    gap:16px;
}

.hover-link{
    cursor: pointer;
}

.hover-link:hover{
    color: var(--secondary-text-color);
}s

.hover-link:active{
    color: #2d36e9;
}

.nav-item.active{
    color:var(--accent-color);
}
.search-bar{
    height: 42px;
    gap:8px;
}
.news-input{
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #2d36e9;
    font-family: 'roboto';
}
#search-text{
    height: 28px;
}
.search-button{
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover{
    background-color: var(--accent-color-dark);
}

main{
    padding-block: 20px;
    margin-top: 80px;
}
.cards-container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card{
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translate(-2px);
}

.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content{
    padding: 12px;
}

.news-src{
    margin-block: 12px;
}

#myvideo{

}
